---
name: Publish json schema files

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'docs/schemas/**'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pages: write
    steps:
      - uses: actions/checkout@v6
      - name: copy contexts into public folder
        run: |
          mkdir -p public/schemas
          cp -r docs/schemas public/
      - name: deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          keep_files: true
